<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage</title>
    <style>
        body {
            margin: 0;
            padding: 0;

        }

        .section_container {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .section {
            display: flex;
            flex-direction: column;
            width: 100%;
            font-size: 0;
        }

        .section_name_container {
            display: flex;
            justify-content: space-between;
            word-break: break-word;
            padding-top: 20px;
            padding-bottom: 20px;
            background-color: #dbfdfa;
            width: 100%;
        }

        .section_name {
            font-size: 17px;
            display: inline;
            padding-left: 10px;
            word-break: break-word;

        }
        .question_container {
            padding-top: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: #e8fffd;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: #b3fff8;
            padding-left: 30px;
        }
        .question {
            font-size: 14px;
            display: inline;
            font-weight: bold;
        }

        .question_answer {
            font-weight: normal;
            padding-left: 10px;
        }
    </style>
</head>
<body>
<div class="section_container">
    {% for section in sections %}
        <div class="section">
            <div class="section_name_container">
                <div class="section_name">
                    {{ section }}
                </div>
            </div>
            {% for question in section.to_display %}
                <div class="question_container">
                    <div class="question">
                        {{ question.question }}

                        <div class="question_answer">
                            {{ question.answer }}

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
</body>
</html>