<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage</title>
    <style>
        body {
            margin: 0;
            padding: 0;

        }

        .section_container {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .section {
            display: flex;
            flex-direction: column;
            width: 100%;
            font-size: 0;
        }

        .section_name_container {
            display: flex;
            justify-content: space-between;
            word-break: break-word;
            padding-top: 20px;
            padding-bottom: 20px;
            background-color: #dbfdfa;
            width: 100%;
        }

        .section_name {
            font-size: 17px;
            display: inline;
            padding-left: 10px;
            word-break: break-word;

        }

        .question_button, .section_button {
            display: inline;
            padding-right: 10px;
            float: right;
            min-width: 20%;


        }

        .question_container {
            padding-top: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: #e8fffd;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: #b3fff8;
            padding-left: 30px;
        }

        button {
            font-size: 14px;
        / / Set font size that you need here
        }

        .question {
            font-size: 14px;
            display: inline;
            font-weight: bold;
        }

        .question_answer {
            font-weight: normal;
            padding-left: 10px;
        }


    </style>
</head>
<body>
<div class="section_container">
    {% for faq_group in object_list %}
        <div class="section">
            <div class="section_name_container">
                <div class="section_name">
                    {{ faq_group }}
                </div>
                <div class="section_button">
                    <a href="{% url 'update_faq_group' faq_group.pk %}">
                        <button>Edit Group</button>
                    </a>
                    <a href="{% url 'delete_faq_group' faq_group.pk %}">
                        <button>Delete Group</button>
                    </a>
                    <a href="{% url 'add_faq_group' %}">
                        <button>Add Group</button>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
</body>
</html>