<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAQ Group Add</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <p>{{ form.group_name.label_tag }}</p>
    <p>{{ form.group_name }}</p>
    <p>{{ form.user.label_tag }}</p>
    <p>{{ form.user }}</p>
    <input type="submit" value="Save">
</form>
</body>
</html>