<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <p>{{ form.section.label_tag }}</p>
    <p>{{ form.section }}</p>
    <p>{{ form.question.label_tag }}</p>
    <p>{{ form.question }}</p>
    <p>{{ form.answer.label_tag }}</p>
    <p>{{ form.answer }}</p>
    <p>{{ form.display.label_tag }}</p>
    <p>{{ form.display }}</p>
    <input type="submit" value="Save">
</form>
</body>
</html>