<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <p>{{ form.name.label_tag }}</p>
    <p>{{ form.name }}</p>
    <p>{{ form.user_group.label_tag }}</p>
    <p>{{ form.user_group }}</p>
    <p>{{ form.display.label_tag }}</p>
    <p>{{ form.display }}</p>
    <input type="submit" value="Save">
</form>
</body>
</html>